.Recipe-container {
  margin: auto;
  width: 75%;
}

.Recipe-field,
.Ingredient-field {
  margin: 20px 0;
}

.Ingredient-container {
  display: flex;
  flex-wrap: wrap;
}

.Ingredient-group {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 10px;
  background-color: #8ab3c4;
  height: 17em;
  width: 17em;
}

.Ingredient-fieldInline {
  width: 40%;
  display: inline-block;
  margin: 0 10px 0 0;
}

.Ingredient-group input,
.Ingredient-group textarea {
  display: inline-block;
}

/* TODO: refactor to not target anchor tag */
.Ingredient-removeBtn button,
.Ingredient-removeBtn a {
  background-color: #e56f3a;
  border: 2px solid #b1572d;
  color: #fff;
}

/* TODO: refactor to not target anchor tag */
.Ingredient-addBtn button,
.Ingredient-addBtn a {
  margin: auto 0;
  margin: 0;
  background-color: #5B7D8A;
  border: 2px solid #47616b;
  color: #fff;
}

.Ingredient-removeBtn,
.Ingredient-addBtn {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .Recipe-container {
    width: 100%;
  }
}
