.Recipe-container {
  margin: auto;
  width: 100%;
}

.Recipe-field,
.Ingredient-field {
  margin: 20px 0;
}

.Ingredient-container {
  display: flex;
  flex-wrap: wrap;
}

.Ingredient-group {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 10px;
  background-color: #8ab3c4;
  height: 17em;
  width: 28%;
}

.Ingredient-fieldInline {
  width: 40%;
  display: inline-block;
  margin: 0 10px 0 0;
}

.Ingredient-group input,
.Ingredient-group textarea {
  display: inline-block;
}

/* TODO: refactor to not target anchor tag */
.Ingredient-removeBtn button,
.Ingredient-removeBtn a {
  background-color: #e56f3a;
  border: 2px solid #b1572d;
  color: #fff;
}

/* TODO: refactor to not target anchor tag */
.Ingredient-addBtn button,
.Ingredient-addBtn a {
  margin: auto 0;
  margin: 0;
  background-color: #5b7d8a;
  border: 2px solid #47616b;
  color: #fff;
}

.Ingredient-removeBtn,
.Ingredient-addBtn,
.Tag-addBtn {
  width: 100%;
  text-align: center;
}

.TagForm-container {
  width: 20%;
  margin: 2px;
  display: inline-block;
}

.TagForm-input,
.Tag-removeIcon {
  display: inline-block;
}

.TagForm-input {
  width: 90%;
}

.Tag-removeIcon {
  width: 2%;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  border: none;
  background: transparent;
  color: #474747;
  margin: 1px;
  padding: 0;
  min-width: 0;
  font-size: 20px;
}

@media (max-width: 768px) {
  .Recipe-container {
    width: 100%;
  }

  .TagForm-container {
    width: 48%;
  }

  .Ingredient-group {
    width: 100%
  }
}
