h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  min-height: 600px;
  height: auto !important;
  height: 600px;
}

.App {
  text-align: center;
  background-color: #f5f6f7;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.App-body {
  margin: 50px;
  text-align: left;
}

button,
input[type='submit'] {
  min-width: 160px;
  padding: 13px 20px 11px;
  font-size: 14px;
  border: 1px solid #474747;
  font: 400 12px/1 Antenna, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
  border-radius: 4px;
  transition: background-color 0.25s ease, color 0.25s ease;
  background: #fff;
  color: #474747;
  font-weight: 900;
  margin: 15px 10px;
}

input[type='submit'] {
  background-color: #c2f9b6;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #000;
  padding: 13px 10px 11px;
  font-size: 12px;
  color: #7d7d7d;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px;
  transition: all 0.25s ease;
}

select {
  border: 1px solid #000;
  border-radius: 0;
  min-width: 70px;
  height: 40px;
  padding: 13px 10px 11px;
  font-size: 12px;
  font-weight: 400;
  color: #7d7d7d;
  background-color: #fff;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 5px 0;
  color: #474747;
}
