html,
body {
  min-height: 600px;
  height: auto !important;
  background-color: #f5f6f7;
  font-size: 16px;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  white-space: pre-line;
  display: inline-block;
  font: 400 16px Arial, sans-serif;
  font-weight: normal;
  text-align: none;
  border-radius: 0;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  box-sizing: none;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration-style: none;
  text-decoration-line: none;
}

fieldset {
  margin: 0;
  padding: 0;
  min-inline-size: 0;
  border: 0;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
select,
input,
textarea {
  font-size: 16px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.isHidden {
  display: none;
}

.display {
  display: block;
}

.inline {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text--center {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.container {
  width: 85%;
  margin: 5px auto;
}

.container--white {
  background-color: #fff;
}

.container--flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* @todo: Not sure if this is needed */
}

.container--wide {
  width: 100%;
  margin: 8px auto;
  padding: 5px;
}

.container--inline {
  width: 20%;
  margin: 2px;
  display: inline-block;
}

.title {
  width: auto;
  margin: 15px auto;
  min-width: 160px;
  text-align: center;
}

@media (max-width: 768px) {
  .body {
    width: 90%;
  }

  .container {
    width: 100%;
    margin: 5px auto;
  }

  .title {
    width: 100%;
  }

  .Recipe-container {
    width: 100%;
  }

  .TagForm-container {
    width: 48%;
  }
}
