.ingredient {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 10px;
  background-color: #8ab3c4;
  height: 17em;
  width: 28%;
}

.ingredient__amount {
  flex: 1 1 5%;
}

.ingredient__label {
  flex: 5 0 50%;
}

@media (max-width: 768px) {
  .ingredient__amount {
    flex: 1 1 20%;
  }

  .ingredient__label {
    width: 100%;
  }
}
