.MainMenu-menuItem {
  padding: 13px 20px;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #282c34;
}

.MainMenu-menuItem:hover {
  background-color: #3abde5;
  border: 2px solid #257a94;
  border-radius: 5px;
  color: #000;
}

.MainMenu-menuItem:hover {
  font-weight: bold;
  margin: 0 10px;
}
