.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.Modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  border-radius: 4px;
}

.Modal-display {
  display: block;
}

.Modal-hide {
  display: none;
}

.Modal-btnCloseContainer {
  text-align: center;
}

.ListRecipe-deleteModal {
  width: 100%;
  margin: 15px auto;
  text-align: center;
}
