/* TODO: refactor to not target button tag */
.ListRecipe-editBtn button {
  font-weight: 900;
  background-color: #e56f3a;
  border: 2px solid #b1572d;
  color: #fff;
}

.ListRecipe-deleteModal {
  width: 100%;
  margin: 15px auto;
  text-align: center;
}

/* TODO: refactor to not target button tag */
.ListRecipe-deleteModal .ListRecipe-buttonGroup button {
  margin: 20px;
}

.ListPage-filterInput {
  width: 100%;
  margin: 20px auto;
}

.ListPage-container {
  margin: 20px auto;
}

@media (max-width: 768px) {
  .ListRecipe-title {
    width: 100%;
  }
}
