.ListRecipe-title {
  width: 50%;
  margin: 15px auto;
}

.ListRecipe-editBtn button {
  font-weight: 900;
  background-color: #e56f3a;
  border: 2px solid #b1572d;
  color: #fff;
}

@media (max-width: 768px) {
  .ListRecipe-title {
    width: 100%;
  }
}
