.Recipe-container {
  margin: auto;
  width: 75%;
}

.Recipe-field,
.Ingredient-field {
  margin: 20px 0;
}

.Ingredient-group {
  display: block;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
  background-color: #8ab3c4;
}

.Ingredient-fieldInline {
  width: 40%;
  display: inline-block;
  margin: 0 10px 0 0;
}

.Ingredient-group input,
.Ingredient-group textarea {
  display: inline-block;
}

.Ingredient-removeBtn button {
  background-color: #e56f3a;
  color: #fff;
}
.Ingredient-addBtn button {
  margin: auto 0;
  background-color: #5B7D8A;
  color: #fff;
  /* color: #455c66; */
}

.Ingredient-removeBtn,
.Ingredient-addBtn {
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .Recipe-container {
    width: 100%;
  }
}
