.page__title {
  width: auto;
  margin: 15px auto;
  min-width: 160px;
  text-align: center;
}

.container__login {
  display: block;
  margin: 20px auto;
}

.header__login {
  text-align: center;
}

.body__login > * > li {
  padding-left: 5px;
  list-style-position: inside;
  list-style-type: decimal;
  margin: 3px;
}

.footer__login {
  text-align: center;
}